.popularChallengeContent{
    width: 93.75%;
    display: flex;
}
.popularChallengeContent .leftContent {
    width: 60.97%;
}
.popularChallengeContent .leftContent .popularHeading{
    margin: 30px 0 38px 0;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
}
.popularChallengeContent .rightContent{
    width: 33%;
    margin-left: 104px;
}